## Data fields
ID - 각 집의 고유한 번호  
ADDRESS - 집의 주소  
SUBURB - 동네 이름  
PRICE - 가격  
BEDROOMS - 침실의 갯수  
BATHROOMS - 욕실의 갯수  
GARAGE - 차고의 수   
LAND_AREA - 토지 면적  
FLOOR_AREA - 건물 면적  
BUILD_YEAR - 건축년도  
CBD_DIST - Central business district까지의 거리  
NEAREST_STN - 근처 역 정보  
NEAREST_STN_DIST - 근처 역까지 거리  
DATE_SOLD - 판매된 날짜  
POSTCODE - 우편번호  
LATITUDE - 위도  
LONGITUDE - 경도  
NEAREST_SCH - 근교의 학교  
NEAREST_SCH_DIST - 근교의 학교까지의 거리  
NEAREST_SCH_RANK - 근교의 학교까지의 랭킹

#### 데이터 불러오기

In [2]:
import pandas as pd

In [3]:
test = pd.read_csv('data/test.csv')
train = pd.read_csv('data/train.csv')

In [4]:
print(test.shape)
print(train.shape)

(15146, 19)
(18510, 20)

#### PRICE 컬럼이 레이블

In [5]:
test_df = pd.DataFrame(test)
test_df

,ID,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,18510,29 Hartung Street,Mundaring,3,2,3.0,2199,159,1950.0,29600,Midland Station,15600,03-2019\r,6073,-31.899705,116.166117,MUNDARING CHRISTIAN COLLEGE,1.341198,NaN
1,18511,6 Kirkby Ridge,Salter Point,4,3,2.0,509,341,2001.0,8200,Canning Bridge Station,2000,08-2017\r,6152,-32.018620,115.858900,AQUINAS COLLEGE,0.882405,23.0
2,18512,45 Connelly Way,Booragoon,4,3,2.0,725,251,1982.0,10500,Bull Creek Station,2700,07-2018\r,6154,-32.042090,115.826290,APPLECROSS SENIOR HIGH SCHOOL,1.639635,34.0
3,18513,21 Torrenova Way,Sinagra,3,2,2.0,401,169,2009.0,24100,Joondalup Station,3500,05-2014\r,6065,-31.740480,115.804078,WANNEROO SECONDARY COLLEGE,2.199511,131.0
4,18514,4B Hilo Place,Warnbro,3,1,1.0,474,107,1993.0,43600,Warnbro Station,1100,03-2019\r,6169,-32.335790,115.765140,WARNBRO COMMUNITY HIGH SCHOOL,1.227092,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15141,33651,2 Danehill Place,Balga,3,1,NaN,801,108,1996.0,10800,Warwick Station,3900,04-2018\r,6061,-31.857800,115.834370,BALGA SENIOR HIGH SCHOOL,1.352896,NaN
15142,33652,19 Hester Street,Langford,4,2,2.0,530,158,1998.0,13100,Thornlie Station,854,11-2018\r,6147,-32.039400,115.951670,COMMUNICARE ACADEMY,1.526169,NaN
15143,33653,43 Hale Street,Watermans Bay,3,2,2.0,1072,148,1950.0,14700,Warwick Station,3800,02-2015\r,6020,-31.852980,115.757010,CARINE SENIOR HIGH SCHOOL,1.779797,47.0
15144,33654,980 Bushlands Road,Hovea,5,3,2.0,19996,396,1990.0,24900,Midland Station,10200,09-2012\r,6071,-31.878930,116.107640,HELENA COLLEGE,3.523922,78.0
15145,33655,9/3 Marsh Road,Mount Richon,3,1,1.0,5823,109,1990.0,27400,Armadale Station,688,03-2013\r,6112,-32.158325,116.018269,ARMADALE SENIOR HIGH SCHOOL,0.512639,NaN

In [6]:
train_df = pd.DataFrame(train)
train_df

,ID,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,0,9 Crumlin Way,Ridgewood,520000,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0
1,1,37 Sissinghurst Crescent,Landsdale,575000,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN
2,2,24 Tees Court,Mindarie,760000,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.0
3,3,31 Brentham Street,Mount Hawthorn,1230000,2,1,2.0,425,185,1938.0,3500,Leederville Station,1500,07-2020\r,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.0
4,4,46/1 Corkhill Street,North Fremantle,2010000,3,2,2.0,546,186,2004.0,12900,North Fremantle Station,800,10-2017\r,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,18505,36 Kentucky Boulevard,Hocking,475000,4,2,2.0,533,198,2007.0,21200,Edgewater Station,4400,04-2018\r,6065,-31.764187,115.824151,WANNEROO SECONDARY COLLEGE,1.104533,131.0
18506,18506,10 Regatta Boulevard,Champion Lakes,485000,3,2,2.0,344,237,2010.0,22100,Kelmscott Station,1900,06-2011\r,6111,-32.114990,115.992834,JOHN WOLLASTON ANGLICAN COMMUNITY SCHOOL,1.816768,40.0
18507,18507,145 Coolgardie Avenue,Redcliffe,642000,3,1,1.0,1016,110,1953.0,8900,Bassendean Station,3100,01-2018\r,6104,-31.931320,115.950060,CYRIL JACKSON SENIOR CAMPUS,2.169696,NaN
18508,18508,12 Mckenzie Road,Samson,491000,4,2,2.0,718,176,1988.0,14600,Murdoch Station,5400,03-2009\r,6163,-32.070861,115.793834,SETON CATHOLIC COLLEGE,0.208669,91.0
18509,18509,2 Lea Road,Koondoola,490000,4,1,2.0,1030,109,1987.0,11600,Warwick Station,6400,09-2013\r,6064,-31.848240,115.864000,MERCY COLLEGE,0.618862,46.0

In [7]:
{column : len(train[column].unique()) for column in train.select_dtypes('object').columns}

{'ADDRESS': 18491,
 'SUBURB': 318,
 'NEAREST_STN': 68,
 'DATE_SOLD': 331,
 'NEAREST_SCH': 159}

#### 결측치 확인

In [8]:
train.info()
# GARAGE,BUILD_YEAR,NEAREST_SCH_RANK

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18510 entries, 0 to 18509
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18510 non-null  int64
 1   ADDRESS           18510 non-null  object
 2   SUBURB            18510 non-null  object
 3   PRICE             18510 non-null  int64
 4   BEDROOMS          18510 non-null  int64
 5   BATHROOMS         18510 non-null  int64
 6   GARAGE            17143 non-null  float64
 7   LAND_AREA         18510 non-null  int64
 8   FLOOR_AREA        18510 non-null  int64
 9   BUILD_YEAR        16782 non-null  float64
 10  CBD_DIST          18510 non-null  int64
 11  NEAREST_STN       18510 non-null  object
 12  NEAREST_STN_DIST  18510 non-null  int64
 13  DATE_SOLD         18510 non-null  object
 14  POSTCODE          18510 non-null  int64
 15  LATITUDE          18510 non-null  float64
 16  LONGITUDE         18510 non-null  float64
 17  NEAREST_SCH       18510 non-null  object
 18  NEAREST_SCH_DIST  18510 non-null  float64
 19  NEAREST_SCH_RANK  12510 non-null  float64
dtypes: float64(6), int64(9), object(5)
memory usage: 2.8+ MB

In [9]:
test.info()
# GARAGE,BUILD_YEAR,NEAREST_SCH_RANK

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15146 entries, 0 to 15145
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                15146 non-null  int64
 1   ADDRESS           15146 non-null  object
 2   SUBURB            15146 non-null  object
 3   BEDROOMS          15146 non-null  int64
 4   BATHROOMS         15146 non-null  int64
 5   GARAGE            14035 non-null  float64
 6   LAND_AREA         15146 non-null  int64
 7   FLOOR_AREA        15146 non-null  int64
 8   BUILD_YEAR        13719 non-null  float64
 9   CBD_DIST          15146 non-null  int64
 10  NEAREST_STN       15146 non-null  object
 11  NEAREST_STN_DIST  15146 non-null  int64
 12  DATE_SOLD         15146 non-null  object
 13  POSTCODE          15146 non-null  int64
 14  LATITUDE          15146 non-null  float64
 15  LONGITUDE         15146 non-null  float64
 16  NEAREST_SCH       15146 non-null  object
 17  NEAREST_SCH_DIST  15146 non-null  float64
 18  NEAREST_SCH_RANK  10194 non-null  float64
dtypes: float64(6), int64(8), object(5)
memory usage: 2.2+ MB

In [10]:
train.isnull().sum()
# GARAGE --> 1367
# BUILD_YEAR --> 1728
# NEAREST_SCH_RANK --> 6000

ID                     0
ADDRESS                0
SUBURB                 0
PRICE                  0
BEDROOMS               0
BATHROOMS              0
GARAGE              1367
LAND_AREA              0
FLOOR_AREA             0
BUILD_YEAR          1728
CBD_DIST               0
NEAREST_STN            0
NEAREST_STN_DIST       0
DATE_SOLD              0
POSTCODE               0
LATITUDE               0
LONGITUDE              0
NEAREST_SCH            0
NEAREST_SCH_DIST       0
NEAREST_SCH_RANK    6000
dtype: int64

In [24]:
train.isna().mean()

ID                  0.000000
ADDRESS             0.000000
SUBURB              0.000000
PRICE               0.000000
BEDROOMS            0.000000
BATHROOMS           0.000000
GARAGE              0.073852
LAND_AREA           0.000000
FLOOR_AREA          0.000000
BUILD_YEAR          0.093355
CBD_DIST            0.000000
NEAREST_STN         0.000000
NEAREST_STN_DIST    0.000000
DATE_SOLD           0.000000
POSTCODE            0.000000
LATITUDE            0.000000
LONGITUDE           0.000000
NEAREST_SCH         0.000000
NEAREST_SCH_DIST    0.000000
NEAREST_SCH_RANK    0.324149
dtype: float64

결측치가 25% 이상인 NEAREST_SCH_RANK 열을 빼고 해보겠음  
레이블이 될 PRICE 열도 빼겠음

In [28]:
train_jy = train.copy()
train_jy = train.drop('NEAREST_SCH_RANK', axis = 1)
train_jy = train.drop('PRICE', axis = 1)

train_jy

,ID,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,0,9 Crumlin Way,Ridgewood,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0
1,1,37 Sissinghurst Crescent,Landsdale,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN
2,2,24 Tees Court,Mindarie,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.0
3,3,31 Brentham Street,Mount Hawthorn,2,1,2.0,425,185,1938.0,3500,Leederville Station,1500,07-2020\r,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.0
4,4,46/1 Corkhill Street,North Fremantle,3,2,2.0,546,186,2004.0,12900,North Fremantle Station,800,10-2017\r,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,18505,36 Kentucky Boulevard,Hocking,4,2,2.0,533,198,2007.0,21200,Edgewater Station,4400,04-2018\r,6065,-31.764187,115.824151,WANNEROO SECONDARY COLLEGE,1.104533,131.0
18506,18506,10 Regatta Boulevard,Champion Lakes,3,2,2.0,344,237,2010.0,22100,Kelmscott Station,1900,06-2011\r,6111,-32.114990,115.992834,JOHN WOLLASTON ANGLICAN COMMUNITY SCHOOL,1.816768,40.0
18507,18507,145 Coolgardie Avenue,Redcliffe,3,1,1.0,1016,110,1953.0,8900,Bassendean Station,3100,01-2018\r,6104,-31.931320,115.950060,CYRIL JACKSON SENIOR CAMPUS,2.169696,NaN
18508,18508,12 Mckenzie Road,Samson,4,2,2.0,718,176,1988.0,14600,Murdoch Station,5400,03-2009\r,6163,-32.070861,115.793834,SETON CATHOLIC COLLEGE,0.208669,91.0
18509,18509,2 Lea Road,Koondoola,4,1,2.0,1030,109,1987.0,11600,Warwick Station,6400,09-2013\r,6064,-31.848240,115.864000,MERCY COLLEGE,0.618862,46.0

In [26]:
test_jy = test.copy()
test_jy = test.drop('NEAREST_SCH_RANK', axis = 1)
test_jy

,ID,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST
0,18510,29 Hartung Street,Mundaring,3,2,3.0,2199,159,1950.0,29600,Midland Station,15600,03-2019\r,6073,-31.899705,116.166117,MUNDARING CHRISTIAN COLLEGE,1.341198
1,18511,6 Kirkby Ridge,Salter Point,4,3,2.0,509,341,2001.0,8200,Canning Bridge Station,2000,08-2017\r,6152,-32.018620,115.858900,AQUINAS COLLEGE,0.882405
2,18512,45 Connelly Way,Booragoon,4,3,2.0,725,251,1982.0,10500,Bull Creek Station,2700,07-2018\r,6154,-32.042090,115.826290,APPLECROSS SENIOR HIGH SCHOOL,1.639635
3,18513,21 Torrenova Way,Sinagra,3,2,2.0,401,169,2009.0,24100,Joondalup Station,3500,05-2014\r,6065,-31.740480,115.804078,WANNEROO SECONDARY COLLEGE,2.199511
4,18514,4B Hilo Place,Warnbro,3,1,1.0,474,107,1993.0,43600,Warnbro Station,1100,03-2019\r,6169,-32.335790,115.765140,WARNBRO COMMUNITY HIGH SCHOOL,1.227092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15141,33651,2 Danehill Place,Balga,3,1,NaN,801,108,1996.0,10800,Warwick Station,3900,04-2018\r,6061,-31.857800,115.834370,BALGA SENIOR HIGH SCHOOL,1.352896
15142,33652,19 Hester Street,Langford,4,2,2.0,530,158,1998.0,13100,Thornlie Station,854,11-2018\r,6147,-32.039400,115.951670,COMMUNICARE ACADEMY,1.526169
15143,33653,43 Hale Street,Watermans Bay,3,2,2.0,1072,148,1950.0,14700,Warwick Station,3800,02-2015\r,6020,-31.852980,115.757010,CARINE SENIOR HIGH SCHOOL,1.779797
15144,33654,980 Bushlands Road,Hovea,5,3,2.0,19996,396,1990.0,24900,Midland Station,10200,09-2012\r,6071,-31.878930,116.107640,HELENA COLLEGE,3.523922
15145,33655,9/3 Marsh Road,Mount Richon,3,1,1.0,5823,109,1990.0,27400,Armadale Station,688,03-2013\r,6112,-32.158325,116.018269,ARMADALE SENIOR HIGH SCHOOL,0.512639

### ==========================결측치 처리==============================

#### GARAGE 차고의 수
-결측치 채우기

In [12]:
train['GARAGE'].unique()

array([ 4.,  2.,  1., nan,  3.,  6.,  8.,  5., 20., 10., 14., 12.,  7.,
        9., 17., 18., 32., 13., 11., 16., 21., 26., 99.])

데이터 파악 : 정수타입  
차고의 개수가 맞나? -> 차고가 99개인 사람이 어딨음?  
공간 범위.. 같은 데이터일거라고 가정

In [13]:
train['GARAGE'].value_counts()

2.0     11378
1.0      2906
3.0      1153
4.0      1096
6.0       246
5.0       178
8.0        63
7.0        54
12.0       16
10.0       12
9.0        10
14.0        7
13.0        7
11.0        6
16.0        3
20.0        2
17.0        1
18.0        1
32.0        1
21.0        1
26.0        1
99.0        1
Name: GARAGE, dtype: int64

In [15]:
# GARAGE와 연관성이 높은 컬럼 확인해보기
train.corr()['GARAGE'].abs().sort_values(ascending=False)

GARAGE              1.000000
FLOOR_AREA          0.186341
BATHROOMS           0.181213
BEDROOMS            0.180447
PRICE               0.124276
NEAREST_STN_DIST    0.101591
NEAREST_SCH_DIST    0.094102
LONGITUDE           0.085201
BUILD_YEAR          0.045461
LAND_AREA           0.042186
CBD_DIST            0.042033
POSTCODE            0.019979
NEAREST_SCH_RANK    0.014924
LATITUDE            0.011987
ID                  0.010428
Name: GARAGE, dtype: float64

In [16]:
train[train['GARAGE'].isnull()].head()

,ID,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
8,8,565 Jacoby Street,Mahogany Creek,550000,3,2,NaN,1537,167,1910.0,27000,Midland Station,13100,12-2014\r,6072,-31.904710,116.138770,MUNDARING CHRISTIAN COLLEGE,3.975465,NaN
21,21,615 Ballot Road,Chidlow,510000,2,1,NaN,28335,88,1950.0,40800,Midland Station,26000,03-2015\r,6556,-31.832580,116.267140,EASTERN HILLS SENIOR HIGH SCHOOL,6.399523,105.0
45,45,7 Moorine Court,Hillman,355000,4,2,NaN,698,195,1980.0,37600,Rockingham Station,1100,06-2009\r,6168,-32.280450,115.762960,KOLBE CATHOLIC COLLEGE,0.846813,97.0
59,59,6 Wilgerup Place,Hillman,280000,3,1,NaN,670,87,1978.0,38300,Rockingham Station,488,04-2009\r,6168,-32.286300,115.763740,KOLBE CATHOLIC COLLEGE,1.157036,97.0
73,73,49 Moojebing Street,Ashfield,495000,4,2,NaN,462,172,2004.0,8000,Ashfield Station,1000,05-2007\r,6054,-31.921472,115.935594,CYRIL JACKSON SENIOR CAMPUS,1.152249,NaN

#### NEAREST_SCH_RANK

In [17]:
train['NEAREST_SCH_RANK'].value_counts()

53.0     414
92.0     386
129.0    380
131.0    306
35.0     300
        ...
71.0      13
55.0      13
88.0      10
5.0        3
15.0       2
Name: NEAREST_SCH_RANK, Length: 103, dtype: int64

In [18]:
# 연관 있는 컬럼 찾아보기 ==> 딱히 의미 없어 보임
train.corr()['NEAREST_SCH_RANK'].abs().sort_values(ascending=False)

NEAREST_SCH_RANK    1.000000
PRICE               0.453937
CBD_DIST            0.324407
LONGITUDE           0.244113
POSTCODE            0.190799
NEAREST_STN_DIST    0.184562
NEAREST_SCH_DIST    0.155208
BUILD_YEAR          0.151206
FLOOR_AREA          0.136373
BATHROOMS           0.095940
LATITUDE            0.050500
LAND_AREA           0.034244
BEDROOMS            0.029626
GARAGE              0.014924
ID                  0.010885
Name: NEAREST_SCH_RANK, dtype: float64

In [19]:
train[train['NEAREST_SCH_RANK'].isnull()].head()

,ID,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
1,1,37 Sissinghurst Crescent,Landsdale,575000,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN
6,6,28 Newstead Crescent,Parmelia,357000,4,1,2.0,738,120,1983.0,33400,Wellard Station,1500,12-2015\r,6167,-32.250380,115.820040,PETER CARNLEY ANGLICAN COMMUNITY SCHOOL,0.889794,NaN
8,8,565 Jacoby Street,Mahogany Creek,550000,3,2,NaN,1537,167,1910.0,27000,Midland Station,13100,12-2014\r,6072,-31.904710,116.138770,MUNDARING CHRISTIAN COLLEGE,3.975465,NaN
12,12,1530 Clayton Road,Helena Valley,930000,4,2,2.0,20522,221,2001.0,18800,Midland Station,6200,11-2017\r,6056,-31.922810,116.054930,TREETOPS MONTESSORI SCHOOL,1.848197,NaN
14,14,112 Amethyst Crescent,Mount Richon,685000,5,2,2.0,3198,359,1992.0,27800,Armadale Station,1300,12-2015\r,6112,-32.158810,116.025202,ARMADALE SENIOR HIGH SCHOOL,1.065348,NaN

In [20]:
a = train[['NEAREST_SCH_RANK','NEAREST_SCH']].groupby(by=['NEAREST_SCH']).mean().notnull()%1.0 != 0
a.sum()

NEAREST_SCH_RANK    0
dtype: int64

#### BUILD_YEAR 건축년도

### ==========================결측치 처리 끝 ==============================